[Unit]
Description = Temporary unix password setter
After = network.target getty@tty1.service

[Service]
EnvironmentFile = /etc/systemd/system/tmpass_environment
ExecStart = /usr/sbin/tmpass.py
Restart = always

[Install]
WantedBy = multi-user.target
